body {
  background-color: #393e46;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 8rem;
  color: #4ecca3;
  margin: 30px;
  text-shadow: 5px 0 #232931;
}

h2 {
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
  color: #4ecca3;
  text-align: center;
}

.player {
  display: inline-flex;
  gap: 3rem;
  flex-direction: row;
}

@media (max-width: 768px) {
  .player {
    flex-direction: column;
  }
}
